# /etc/default/vector
# This file can theoretically contain a bunch of environment variables
# for Vector.  See https://vector.dev/docs/setup/configuration/#environment-variables
# for details.

VECTOR_GRACEFUL_SHUTDOWN_LIMIT_SECS=10
VECTOR_CONFIG_DIR=/etc/vector/edgestream/
