{% set adv = advanced | default({}) %}
{% set proxy = adv.get('apt.repository.proxy', '') | string | trim %}

{% if proxy | length > 1 %}
Acquire::http { Proxy "{{ proxy }}"; }
Acquire::https { Proxy "{{ proxy }}"; }
{% endif %}
