Welcome to EdgeStream Hub

**********************************************************************************************************************
The web interface is available on https://<your edgestream hub's ip address>

The default username is '{{ EDGESTREAM_DEFAULT_ADMIN_EMAIL }}' and the default password is '{{ EDGESTREAM_DEFAULT_ADMIN_PASSWORD }}'.
**********************************************************************************************************************

Please refer to https://edgestream.io for more details.
