INFLUXD_CONFIG_PATH=/etc/influxdb/config.toml
INFLUXD_BOLT_PATH=/data/influxdb/influxd.bolt
INFLUXD_ENGINE_PATH=/data/influxdb/engine
INFLUXD_SQLITE_PATH=/data/influxdb/influxd.sqlite
INFLUXD_HARDENING_ENABLED=true
