{% set adv = advanced | default({}) %}

{# choose value if non-empty, else hard fallback to '443' #}
{% set raw_port = adv.get('webui.listen_port', '') | string | trim %}
{% set listen_port = raw_port if raw_port | length > 0 else '443' %}

[edgestream-webui]
title=EdgeStream Gateway webui
description=EdgeStream Gateway webui dashboard
ports={{ listen_port }}/tcp
