{% set adv = advanced | default({}) %}

{# choose value if non-empty, else hard fallback to '22' #}
{% set raw_port = adv.get('ssh.listen_port', '') | string | trim %}
{% set listen_port = raw_port if raw_port | length > 0 else '22' %}

[OpenSSH]
title=Secure shell server, an rshd replacement
description=OpenSSH is a free implementation of the Secure Shell protocol.
ports={{ listen_port }}/tcp
