# EdgeStream Hub APT Repository (modern format)

{% set adv = advanced | default({}) %}

{% set apt_url     = adv.get('apt.repository.url',     '') | string | trim or 'https://apt.repo.hyperi.io/edgestream/testing' %}
{% set apt_release = adv.get('apt.repository.release', '') | string | trim or 'trixie' %}
{% set apt_branch  = adv.get('apt.repository.branch',  '') | string | trim or 'main' %}
{% set apt_key     = adv.get('apt.repository.key',     '') | string | trim or '/etc/apt/keyrings/edgestream.gpg' %}

Types: deb
URIs: {{ apt_url }}
Suites: {{ apt_release }}
Components: {{ apt_branch }}
Signed-By: {{ apt_key }}
